In [1]:
import numpy as np
import pandas as pd
from tensorflow.keras.models import load_model
import pickle

In [2]:
###Load the trained model,scalar,onehot
model=load_model('model.h5')


#load label encoder,one hot encoder,scalar


with open('label_encoder_gender.pkl','+rb') as file:
    label_encoder_gender=pickle.load(file)

with open('OHE.pkl','rb') as file:
    OHE=pickle.load(file) 

with open('scalar.pkl','rb') as file:
    scalar=pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [4]:
input_data = {
    'CreditScore': 300,
    'Geography': 'Germany',
    'Gender': 'Female',
    'Age': 29,
    'Tenure': 2,
    'Balance': 50000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 30000
}

In [5]:
###One hot encoding the geography feature
geo_transformed=OHE.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_transformed, columns=OHE.get_feature_names_out(['Geography']))

C:\Users\KIIT\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [6]:
geo_encoded_df

   Geography_France  Geography_Germany  Geography_Spain
0               0.0                1.0              0.0

In [11]:
input_df=pd.DataFrame(input_data)

In [12]:
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,300,Germany,0,29,2,50000,2,1,1,30000

In [13]:
###LAbel encoding gender

input_data['Gender']=label_encoder_gender.transform(input_data['Gender'])

ValueError: y contains previously unseen labels: 0

In [15]:
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,300,Germany,0,29,2,50000,2,1,1,30000

In [ ]:
###concatinating ohe column with the input data frame
input_df=pd.concat([input_df.drop("Geography",axis=1),geo_encoded_df],axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,300,0,29,2,50000,2,1,1,30000,0.0,1.0,0.0

In [17]:
###scaling the input data
input_scaled=scalar.transform(input_df)
input_scaled

array([[-3.60333635, -1.11114215, -0.94774772, -1.04159954, -0.41715617,
         0.80583561,  0.64920267,  0.9735984 , -1.22347243, -1.00400803,
         1.72572313, -0.57215401]])

In [18]:
y=model.predict(input_scaled)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 72ms/step

In [19]:
y

array([[0.04724585]], dtype=float32)

In [20]:
prediction_prob=y[0][0]

In [21]:
prediction_prob

0.04724585

In [22]:
if prediction_prob > 0.5:
    print('The cuctomer is likely to churn')
else:
    print('The customer is not likely to churn')

The customer is not likely to churn